* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bg {
  // background: red; /* Временно включите это для проверки */
  background-image: url("../public/img/header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  // position: fixed;
  // top: 0;
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 85%;
  padding: 40px;
  max-width: 1200px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.header {
  gap: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.headerV2 {
  gap: 30px;

  display: flex;
}
.welcome {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header svg {
  display: flex;

  font-size: 80px;
}

.headerBlock {
  display: flex;
  border: 0.91px solid rgb(355, 255, 255);
  border-radius: 12.82px;

  backdrop-filter: blur(27.34px);
  background: linear-gradient(
    135deg,
    rgba(58, 129, 191, 0.08) 0%,
    rgba(65, 48, 90, 0.03) 100%
  );
  padding: 10px 40px;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.header {
  h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
}

.icon_user_other > * {
  margin-left: 100px;
}
